<H1>My Jupyter Notebook on IBM Watson Studio<H1>

<b>Amit Dutta </b><br>IT Manager

<i>Due to increasing demand globally in Data Science I want to become a data scientist </i>

<h3>The Following Code will Display today's time and date</h3>

In [14]:
import datetime 
message = "Today's Date and Time is " 
print (message , datetime.datetime.now() )

Today's Date and Time is  2022-11-16 07:09:03.938280

<h1> My favourite Colors</h1>
            <li>Red</li>
            <li>Green</li>
            <li>Orange</li>
            <li>Blue</li>
            <li>Black</li>

In [ ]:
  </ol>
            <hr>
            <table border=\"1px\">
                <tr>
                    <td><b>Satelites</b></td>
                    <td><b>Planets</b></td>
                </tr>
                <tr>
                    <td>Moon</td>
                    <td>Earth</td>
                </tr>
                <tr>
                   <td>Europa</td>
                    <td>Jupiter</td>
                </tr>
                <tr>
                    <td>Ganymede</td>
                    <td>Computer</td>
                </tr>
                <tr>
                    <td>Titan</td>
                    <td>Television</td>